<h1><%= @user.username %><br></h1>
<h2> Active Products </h2>
<table class='table'>
   <td class="table_head"> Products </td>
    <% @user.products.each  do |product| %>
      <td> <%= link_to "#{product.name}", product_path(product) %> </td>
      <td><%= link_to "Delete", user_product_path(@user,product), method: :delete, class: "btn btn-default" %></td>
    <% end %>
</table>

<h2> Inactive Products </h2>
