<%= render 'cat_navbar' %>

<div class="row">
  <h1>welcome to quartzy</h1>
  <h2>gems on gems on gems</h2>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>Maybe we put some top products here??</h1>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <%= link_to "View Products by Category", categories_path %>
  </div>
  <div class="col-sm-6">
    <%= link_to "View Products by Merchant", users_path %>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <%= link_to "All Dem Gemz", products_path %>
  </div>
</div>
