@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

$teal: #47AAB3;
$purple-blue: #888DC4;
$teal-grey: #c2d6d6;

$light-contrast: $teal-grey;
$highlight: $teal;

$body-font: 'IM Fell DW Pica';
$header-font: 'Tinos';



.flash {
  background-color: $highlight;
  text-align: center;
  font-size: 16px;
  padding: 5px;
  margin: 5px;
}

.front-pg {
  text-align: center;
  font-family: $body-font, serif;
  font-size: 64px;
}

.front-pg-link {
  font-size: 24px;
}

.header-box {
  padding: 25px;
  background-color: $light-contrast;
}

.col-xs-12 {
  text-align: center;
}

body {
  font-family: $body-font, serif;
}

.front-pg2 {
  font-family: $header-font, serif;
  text-align: center;
  font-size: 20px;
}

.jumbotron {
  background: url("crystal.ong.png");
  background-size: cover;

}

.home_img {
  display: block;
  margin-left: auto;
  margin-right: auto
}

h1 {
    font-family: $header-font, serif;
    text-align: center;
    margin-bottom: 20px;
}

h2 {
    font-family: $header-font, serif;
}

h3 {
    font-family: $header-font, serif;
}

h4 {
    font-family: $header-font, serif;
}

h5 {
    font-family: $header-font, serif;
}

.cntr-header {
  text-align: center;
}

.navbar {
  font-family: Tinos;
  border:1px solid #ccc;
  border-width:1px 0;
  margin:0;
  padding:15px;
  text-align:center;
  word-spacing: 10px;
  text-transform: uppercase;
}

.mark_shipped {
  
}

.cat-navbar {



}

.category-box {

}

.product-page-img {
  width: auto;
  height: 200px;
}

a {
  color: $highlight;
  text-decoration: none;
}

a:hover {color: $purple-blue}


.table-master {

}

.form-control {
  width: 50%;
}

.col-sm-4 {
  margin: auto;

}

.col-sm-6 {
  margin-top: 20px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.rating {
  list-style-image: none;
}

.fa {
  color: #FFD700;
}
