@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

.front-pg {
  text-align: center;
}

.h1 {

}

.h2 {

}

.navbar {

}

.cat-navbar {

}

.category-box {

}

.product-page-img {
  width: 200px;
  height: auto;
}

.a {

}
