<div class="row">
  <h1>All Categories</h1>
</div>

  <% @cat.to_ary.in_groups_of(3, false) do |group| %>
    <div class="row">
      <% group.each do |cat| %>
        <div class="col-sm-4">
        <%= link_to "#{cat.name}", category_path(cat), class: 'category-box' %>
        <%= cat. %>
        </div>
      <% end %>
    </div>
  <% end %>

