<%= render 'cat_navbar' %>

<div class="row header-box">
  <h1><%= "#{@category.name}" %></h1>
</div>

<%= render partial: 'product_view', locals: {collection: @category.products.where(retired: false)} %>